@import url('https://fonts.googleapis.com/css?family=Lobster');
#

.words{
  border-top: #b8b894;
  font-family: 'Lobster', cursive;
  font-size: 80px;
  height: 95px;
  color: #ff0000;
  /* red */
}

.bottom{
  margin-left: 35px;
}


.right_column{
  background-position: center;
  margin-top: 45px;
}

.styles{
  font-size: 200px;
  opacity: 0.2;
  position: absolute;
  bottom: 65px;
  z-index: -1;

}
/* .text-center{
  z-index: inherit;
  position: inherit;
  color: rgba (149,147,147,0.2);
} */

.wrap{
  min-height: 100vh;
}

.carousel{
  margin-bottom: 60px;
}

.carousel-caption{
  z-index: 10;
  padding-bottom: 60px;
}

.carousel-inner .item{
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
}

.main_img1{
  background-image: url("../img/wood-2.jpg");
}

.main_img2{
  background-image: url("../img/restaurant-2.jpg");
}

.main_img3{
  background-image: url("../img/farm-2.jpg");
}

.main_logo{
  max-height: 300px;
}

.btn-primary{
  color: #fff;
  background-color: #f8512f;
  border-color: transparent;
}


.brn-primary:hover{
  background-color: #d34326;
  border-color: transparent;
}

.carousel-caption p{
  color: #f7f7f7;
  font-size: 16px;
}


/* BEGINNING OF OUR STORY */


.wrap{
  margin-bottom: 45px;
}

#our_story h1{
  color: red;
  font-family: 'Lobster', cursive;
  font-weight: bolder;
  font-size: 90px;
}





/* BEGINNING OF REVIEW */

.height_min{
  min-height: 100vh;
}

#review .center{
  background-color: rgba(20,20,20, .6);
  margin: 0 auto;
  float: none;
  padding: 10px;
  margin-top: 145px;
  border-radius: 5px;

}

#review{
  background-image: url("../img/food_review.jpg");
  background-size: cover;
  background-attachment:fixed;
}



#review h1{
  color: red;
  font-family: 'Lobster', cursive;
  font-weight: bolder;
  font-size: 90px;
}

#review p{
  color: #fff;
  font-weight: 300;
  font-size: 2em;
  text-shadow: 1px 1px 5px #0a0a0a;
}

#review a{
  float: rigth;
}
/* NOT WORKING. NEED TO COME BACK TO THIS */




/* Menu section */

#menu{
  background-image: url("../img/black_linen.png");
  background-size: cover;
  background-attachment: fixed;
  padding-top: 40px;
  padding-bottom: 70px;
}

#menu h1{
  color: #fff;
  font-family: "Lobster", cursive;
  font-size: 6em;
  text-shadow: 1px 1px 5px #0a0a0a;
}

#menu h3{
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight:700;
  font-size: 2em;
}

#menu a{
  color: #f8512f;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
#menu p{
  text-align: justify;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.food{
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  }

  #menu .nav li a:hover{
    background-color: #rgba(255, 255, 255, 0.1);
    border-color: transparent;
  }

  #menu .nav-justified li a{
    margin-bottom: -5px;
  }

  #menu .nav-tabs li a {
    border: none;
  }

  /* MENU END */




  /* Content begins */

.contact_form{
  background-color: #adad85;
  color: #fff;
  border: 1px solid #fff;
}

.contact_form form{
  padding: 5% 0;
}

.contact_form span{
  color: #BADA55;
}

#contact {
  background-color: #2e2e1f;
}

#contact h1{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 4em;
}

#contact p{
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 1em;
}

#contact_fine_print {
  font-size: 12px !important;
  text-align: center;
}

address{
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.contact_bottom{
  margin-top: 50px;
  margin-bottom: 25px;
}

/* Finished contact */

/* BEGINNING OF FOOTER */
#footer{
  height: 150px;
  background-color: #f7f7f7;
}

#footer img:hover{
  animation:shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
/* above not working;need help */

.name{
  margin-top: 65px;
  background-color: #f8512f;
  margin-left: 10px;
}

.fa{
  padding: 10px;
  margin-top: 30px;
  border-radius: 50px;
}

.fa:hover{
  color: #1aff1a;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram{
  background-color: #cb0366;
  color: #ffffff;
}
.fa-snapchat{
  background-color: #fffa01;
  color: #ffffff;
  margin-left: 9px;
}

.low{
  margin-top: 40px;
}

#footer a:hover{
  color: #f8512f;
  font-family: cursive;
  font-weight: bolder;
  font-size: 15px;
}


/* END OF FOOTER */



/* MEDIA QUERY */

@media (max-width:787px){
  .story_year{
    font-size: 160px;
  }
}

@media (max-width: 787px){
  #our_story{
    background-color: #ffff99;
  }
}

@media (max-width: 787px){
  #our_story h1{
    color: #008000;
    background-color: #cccc00;
  }
  .styles{
    color: #ff0066;
  }
}


@media (max-width: 787px){
  #contact{
    background-color: #660033;
  }
  #contact h1{
    font-family: 'Charm', cursive;
  }
}

@media (max-width: 787px){
  #footer{
    background-color: #00cc99;
    height: 300px;

  }
}
